* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardsimilarfilms {
  display: grid;
  justify-items: center;
  position: fixed;
  top: calc(6vh + 0.75vw);
  left: 4vw;
  background: linear-gradient(180deg, #012727 40%, #000);
  height: calc(calc(calc(91vh - 3vw) / 3.5) * 2.5);
  width: calc(calc(100vw - 12vw) / 3);
  border-radius: 1vh;
}

.cardsimilarfilms:hover {
  transform: scale(1.03);
}

.imagemdefundosimilar {
  z-index: 0;
  position: fixed;
  transform: scale(1);
  width: calc(calc(100vw - 12vw) / 3);
  height: calc(calc(calc(91vh - 3vw) / 3.5) * 2.5);
  background-image: url("https://i.ibb.co/LQkx8Q4/imagem-fundo.png");
  opacity: 40%;
  border-radius: 1vh;
}

/*---------------------------------------------------------------*/

.logohome {
  z-index: 0;
  position: fixed;
  margin-top: 1.5vw;
  height: calc(calc(calc(calc(91vh - 3vw) / 3.5) * 2.5) / 4.5);
  width: 10vw;
}

/*--------------------------------------------------------------*/

.similarTexto {
  z-index: 0;
  width: 100%;
  height: 10vw;
  position: relative;
  margin-top: calc(calc(calc(calc(91vh - 3vw) / 3.5) * 2.5) / 4);
  font-size: 2vw;
  display: flex;
  font-weight: 700;
  font-family: Helvetica;
  color: rgb(255, 255, 255, 0.9);
  text-align: center;
  align-items: center;
  text-shadow: 0vw 0.155vw #006565;
  zoom: 0%;
}

/*--------------------------------------------------------------*/

.descricaoSimilar {
  z-index: 0;
  font-family: Helvetica;
  display: flex;
  position: relative;
  width: 90%;
  margin-bottom: 5vw;
  text-align: center;
  align-items: center;
  font-size: 3vh;
  letter-spacing: 0.3vh;
  color: rgb(255, 255, 255, 0.65);
}
