
/.idea
.env
/backend/classes/__pycache__
/backend/endpoints/__pycache__
/backend/endpoints/__pycache__
/backend/endpoints/__pycache__
/backend/__pycache__
/backend/__pycache__
/backend/knn/__pycache__
/backend/knn/__pycache__
