.description{
    color: #fff;
    font-family: helvetica;
    font-size:medium;
    font-weight:100;
    font-style: italic;
    letter-spacing: 0.4vw;
    width: 18vw; 
    position:relative;
    left: 41vw;
    top: 43vh;
    opacity: 0.95;
    text-align: center;
    justify-content: center;
}