* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bottombar {
  background-color: #012727;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100vw; /*Largura = vw = 1vw = 1% da largura*/
  height: calc(3vh - 0.5vw); /*Altura = vh = 1vh = 1% da altura */
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5vh;
  font-family: Helvetica;
  zoom: 0;
}
