.titles{
    position:absolute;
    top: 15vh;
    left: 40vw;
}

.logos{
   width: 5vw; 
   height: auto;
   position: relative;
   left: 7.5vw;
}


.tituloSimilars{
    color: #fff;
    font-family: helvetica;
    font-size:xx-large;
    font-weight: bold;
    font-style: italic;
    width: 20vw; 
    position:relative;
    text-align: center;
    justify-content: center;
}