.title {
    position: relative;
    top: 0vh; /* Ajuste para garantir o espaçamento correto */
  }
  

.logo{
   width: 4vw; 
   height: auto;
   position: relative;
   top: 8vh;
   left: 97vh;
}

.conteudo{
    color: #fff;
    font-family: helvetica;
    font-size:xx-large;
    font-weight: bold;
    font-style: italic;
    width: 20vw; 
    position:relative;
    left: 40vw;
    top: 9vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}