* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #012727;
  width: 100vw; /*Largura = vw = 1vw = 1% da largura*/
  height: 6vh; /*Altura = vh = 1vh = 1% da altura */
}

.logoKlimax {
  color: #ececec;
  transform: rotate(-3deg);
  font-size: 3.5vh;
  font-family: Helvetica; /*Helvetica*/
  zoom: 0%;
}
